<div class="col-lg-12 text-center mb-2">
    <h1>Gerenciamento de carros</h1>
</div>

<div class="row">
  <div class="card-deck">

    <div class="card " style="width: 20rem;">
      <img class="card-img-top img-fluid rounded" src="https://image.ibb.co/eWgwJG/icone_novo.png" alt="Cadastrar carro">
      <div class="card-block">
        <h4 class="card-title">Cadastrar Carro</h4>
        <p class="card-text">Crie registro referenciando carros dos clientes</p>
        <a href="#" class="btn btn-primary"  routerLink="/carros-add">Cadastrar</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top img-fluid rounded" src="https://image.ibb.co/hSbwJG/icone_editar.png" alt="Editar carro">
      <div class="card-block">
        <h4 class="card-title">Editar Carro</h4>
        <p class="card-text">Insira ou edite informações sobre um veículo cadastrado</p>
        <a href="#" class="btn btn-primary">Editar Carro</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="https://image.ibb.co/bFrrkw/icone_buscar.jpg" alt="Visualizar carros">
      <div class="card-block">
        <h4 class="card-title">Procurar Carros</h4>
        <p class="card-text">Busque veículos através de filtros, veja carros cadastrados a partir de uma listagem</p>
        <a href="#" class="btn btn-primary" routerLink="/carros-list">Buscar carros</a>
      </div>
    </div>
  </div>
</div>