<div class="card card-inverse mt-3" style="background-color: #333; border-color: #333; color:white;">
        <div class="card-block">
            <h3 class="card-title text-center">{{TitleFormCar}}</h3>
            <div class="form-group row">    
    
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <label for="nome">
                        <strong>Nome:</strong>
                    </label>
                    <br>
                    <input type="text" [(ngModel)]="carro.nome" class="form-control" placeholder="nome">
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <label for="velocidade">
                        <strong> Velocidade Máxima:</strong>
                    </label>
                    <br>
                    <input type="number" [(ngModel)]="carro.max_velo" min="0" step="0.5" class="form-control" placeholder="velocidade">
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <label for="marca">
                        <strong>Marca:</strong>
                    </label>
                    <br>
                    <input id="marca" [(ngModel)]="carro.marca" type="text" class="form-control" placeholder="marca">
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <label for="dono">
                        <strong>Proprietário:</strong>
                    </label>
                    <br>
                    <select   class="form-control" [(ngModel)]="selectedPerson">                        
                        <option *ngFor="let u of users"  [ngValue]="u" >{{u.nome}}</option>
                    </select>
                </div>
    
            </div>
            <div class="w-100">
                <div class="float-right">
                    <button class="btn btn-outline-primary " type="submit" (click)="SalvarCarro()"> Salvar <i class="fa fa-floppy-o"></i> </button>
                </div>
            </div>
    
        </div>
    </div>