<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-2">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Cia Auto</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li *ngIf="isUserLogged" class="nav-item active">
        <a class="nav-link" href="#" routerLink="/dashboard">Painel Principal
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <div *ngIf="isUserLogged">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gerenciar</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" routerLink="/carros">Carros</a>
            <a class="dropdown-item" href="#">Manutenções</a>
            <a class="dropdown-item" href="#">Usuários</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">FAQ</a>
          </div>
        </li>
      </div>
    </ul>

    <login (update)="OnLogonLogoff($event)"></login>


  </div>
</nav>