<div class="col-lg-12 text-center mb-2">
        <h1>Painel Principal</h1>
</div>
<hr>
<div class="row">
        <div class="card-deck">

                <div class="card " style="width: 20rem;">
                        <img class="card-img-top img-fluid rounded" src="https://image.ibb.co/d3GXQw/blue_car.jpg" alt="gerenciamento de carros">
                        <div class="card-block">
                                <h4 class="card-title">Carros</h4>
                                <p class="card-text">Cadastre veículos para usar em manuntenções e referenciar aos clientes existentes. Insira os dados principais e facilite o gerenciamento.</p>
                                <a href="#" class="btn btn-primary" routerLink="/carros">Gerenciar Carros</a>
                        </div>
                </div>

                <div class="card" style="width: 20rem;">
                        <img class="card-img-top img-fluid rounded" src="https://image.ibb.co/m7dyXb/user.jpg" alt="Gerenciamento de usuários">
                        <div class="card-block">
                                <h4 class="card-title">Usuários</h4>
                                <p class="card-text">Insira, edite e exclua usuários dos sitema</p>
                                <a href="#" class="btn btn-primary">Gerenciar usuários</a>
                        </div>
                </div>

                <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="https://image.ibb.co/dJikdG/blue_settings.png" alt="Gerenciamento de manuntenções">
                        <div class="card-block">
                                <h4 class="card-title">Manuntenções</h4>
                                <p class="card-text">Busque edite e exclua manuntenções de veículos cadastrados no sistema</p>
                                <a href="#" class="btn btn-primary">Gerenciar manuntenções</a>
                        </div>
                </div>
        </div>
</div>